<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dogs</title>
</head>
<body>
    <h1>Dogs are better than cats!</h1>
    <a href="/dog1"><img src="../images/cat1.jpg" alt="cat1"></a>
    <a href="/dog2"><img src="../images/cat2.jpeg" alt="cat2"></a>
</body>
</html>